<%- include('global/header', {title:"Mission Statement", isBlog:false}); %>
<%- include('global/navbar', {blog_info: allPosts, isBlog:true}); %>

<h1><%= data.Title %></h1>

<div class="container-fluid">
  <h1>Mission Statment</h1>

  <div class="row">
    <div class="col-lg">
        <p>We generate cool taco combos for you so you dont have to. Let us know what's in your fridge?
        </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg">

    </div>
  </div>




</div>

<%- include ('global/footer'); %>
