<%- include ('global/header', {title:"TresMigos", isBlog:false}); %>
<%- include ('global/navbar', {blog_info: allPosts, isBlog:true}); %>

<h1><%= data.Title %></h1>

  <div class = "container-fluid">

    <h1>Tres Migos Taqueria</h1>
    <h2>We Make Mindless Food Even Lazier</h2>


  <%- include ('global/footer'); %>
