<!DOCTYPE html>
<html>

<%- include('global/navbar', {entry: totalposts }); -%>
<%- include('global/header' ,{title: "Damn Shawty!"}); %>
<h1> <%=errorCode%> Error</h1>
<p> The resource you requested has not been found.</p>

<%- include('global/footer'); %>
</html>
