<html lang="en">

<%- include('global/navbar', {entry: totalposts}); %>
<%- include('global/header', {title: "Lyric Lingo"}); %>



<header <br>
  <h2> Soundcloud, but not really!</h2>
</header>

<div class="top row">
  <div class="row ">
    <div class="col-lg">
      <h10> Placeholder, page works</h10>
    </div>
  </div>
</div>









<script src="js/scripts.js"></script>
<%- include('global/footer'); %>

</html>
