header {
  color: #E9E6FF;
}
body {
  color: #2c363f;
  background-color: #fefae0;
}
footer {
  color: #2c363f;
  text-align: center;
  letter-spacing: 2px;
  margin: 30px 0px 0px 0px;
  font-family: 'Oswald', sans-serif;
}
a {
  color: #e8e9f3;
  font-size: 24px;
}
.top {
  background-color: #2c363f;
  color: #d6dbd2 !important;
  border: 5px #2c363f;
  border-style: solid;
}
.row {
  text-align: center;
  margin: 30px 0px 0px 0px;
}
.content {
  text-align: left !important;
  font-size: 18px !important;
}
.little {
  color: #E9E6FF;
  text-align: center;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}
.nav-link.dropdown-toggle{
  color: #b1e5f2;
}
.dropdown-item{
  color: #2c363f;
}
.create{
  color: #b1e5f2;
}

h1 {
  color: #2c363f;
  text-align: center;
  letter-spacing: 2px;
  margin: 50px 0px 0px 0px;
  font-family: 'Courgette', cursive;
  font-size: 65px;
}
h2 {
  color: #2c363f;
  text-align: center;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}
h3 {
  color: #B0A084;
  font-size: 24px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}
h4 {
  color: #2c363f;
  text-align: center;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  font-size: 20px !important;
}
p {
  color: #2c363f;
  border: 4px #B0A084;
  border-style: solid;
  margin-top: 50px;
  padding: 20px;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}
