<%- include ('../global/header', {title:"EJS Express Demo", isBlog:false}); %>
<%- include ('../global/navbar', {blog_info: allPosts, isBlog:true}); %>

<h1>Create Blog</h1>

<form action="/blog" method="post">

  <label for="author">Author:</label><br>
  <select name="author" id="author">
    <%for(let i in validAuthors.allowed_authors){%>
      <%let author = validAuthors.allowed_authors[i]; %>
      <option value="<%=author%>"><%=author%></option>
    <%}%>
  </select><br>

  <label for="title">Title:</label><br>
  <input type="text" id="title" name="title"><br>

  <label for="date">Date:</label><br>
  <input type="text" id="date" name="date"><br>

  <label for="content1">Paragraph 1:</label><br>
  <input type="text" id="content1" name="content1"><br>

  <label for="content2">Paragraph 2:</label><br>
  <input type="text" id="content2" name="content2"><br>

  <input type="submit" value="Submit">
</form>

<script src="/js/scripts.js"></script>
</body>

</html>
